<h1>Regístrate hola</h1>

<form method="POST" action="/auth/signup">
   <div class="field">
      <label>Nombre</label>
      <input type="text" name="name">
   </div>

   <div class="field">
      <label>Correo electrónico</label>
      <input type="email" name="mail">
   </div>

   <div class="field">
      <label>Contraseña</label>
      <input type="password" name="password">
   </div>

   <div class="field">
   <label> Descripción</label>
   <input type="text" name="description">
   </div>

   <div>
      <label >Tu instrumento</label>
      <select name="categories" id="ctegories-list">
         <option value="acordeon">Acordeón</option>
         <option value="armonica">Armónica</option>
         <option value="bajo">Bajo</option>
         <option value="bateria">Bateria</option>
         <option value="castanuelas">Castañuelas</option>
         <option value="clarinete">Clarinete</option>
         <option value="flauta">Flauta</option>
         <option value="guitarra">Guitarra</option>
         <option value="maracas">Maracas</option>
         <option value="piano">Piano</option>
         <option value="saxofon">Saxofón</option>
         <option value="trompeta">Trompeta</option>
         <option value="violin">Violín</option>
      </select>
   </div>

   <div class="field submit">
      <button type="submit">Send</button>
   </div>
</form>

{{> flash}}