<header class="main-header">
   <h1>Sign Up</h1>
</header>
<section class="form-section">
   <form class="user-form" method="POST" action="/auth/signup" enctype="multipart/form-data">
      <div class="inputs">
         <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name">
         </div>

         <div class="field">
            <label>Email</label>
            <input type="email" name="mail" placeholder="Email">
         </div>

         <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
         </div>

         {{!-- <div class="field">
            <label>Name your course</label>
            <input type="text" name="header" placeholder="Name your course">
         </div>

         <div class="field">
            <label>Description</label>
            <input type="text" name="description" placeholder="Description">
         </div> --}}

         <div class="field">
            <label>Choose your instrument</label>
            <select name="category" id="ctegories-list">
               <option value="acordeon">Acordeón</option>
               <option value="armonica">Armónica</option>
               <option value="bajo">Bajo</option>
               <option value="bateria">Bateria</option>
               <option value="castanuelas">Castañuelas</option>
               <option value="clarinete">Clarinete</option>
               <option value="flauta">Flauta</option>
               <option value="guitarra">Guitarra</option>
               <option value="maracas">Maracas</option>
               <option value="piano">Piano</option>
               <option value="saxofon">Saxofón</option>
               <option value="trompeta">Trompeta</option>
               <option value="violin">Violín</option>
            </select>
         </div>

         <div class="field last img">
            <label for="">Portada</label>
            <input type="file" name="image-perfil">
         </div>
         <p class="create-account">Already have an account? <a href="/auth/login">Go to login</a></p>
         
         {{!-- //localización --}}
         <div>
            <label for="latitude">Latitude</label>
            <input type="text" id="latitude" name="latitude">
         </div>

         <div>
            <label for="longitude">Longitude</label>
            <input type="text" id="longitude" name="longitude">
         </div>


      </div>

      <button class="btn btn-primary"  type="submit">Sign up</button>

   </form>
   {{> flash}}

   <script src="/javascripts/location.js"></script>
</section>