<section class="hero">
   
   <div class="hero-content">
      <h1>Sytudi</h1>
      <a class="btn btn-outline" href="/auth/login">Login</a>
      <p class="create-account">Need a Sytudi account?  <a href="/auth/signup">Create an account</a></p>
            
      {{!-- <a href="/categories" class="btn-link">Vamos, vamos</a> --}}
   </div>
</section>