<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
  <nav class="main-nav">
    {{#if currentUser}}
      <div>
        <p>Hola pirinolas</p>
        <form action="">
          <button type="submit">Logout</button>
        </form>
      </div>
    {{else}}
    <a href="/auth/signup">Signup</a>
    {{!-- <a href="/auth/login">Login</a> --}}
     {{/if}}
  </nav>
  {{{body}}}
</body>
</html>
