<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>{{title}}</title>
</head>
<body>
  {{{body}}}
</body>
</html>

<form action="/auth/logout" method="POST">
  <button class="logout-button" type="submit">Logout</button>
</form>
  {{!-- <nav class="main-nav">
    {{#if currentUser}}
      <div>
        <h3>¡SYTUDI!</h3>
        <form action="/auth/logout" method="POST">
          <button class="logout-button" type="submit">Logout</button>
        </form>
      </div>
    {{else}}
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
     {{/if}}
  </nav> --}}