<header class="main-header">
   <h1>Choose an instrument</h1>
</header>
<section class="category-selection">
   <ul>
      <li>
         <a href="/list?id=acordeon" class="card-category" id="acordeon">
            <img src="" alt="category">
            <p>Acordeon</p>
         </a>
      </li>
      <li>
         <a href="/list?id=armonica" id="armonica">
            <img src="" alt="category">
            <p>Armónica</p>
         </a>
      </li>
      <li>
         <a href="/list?id=bajo" class="card-category" id="bajo">
            <img src="" alt="category">
            <p>Bajo</p>
         </a>
      </li>
      <li>
         <a href="/list?id=bateria" class="card-category" id="bateria">
            <img src="" alt="category">
            <p>Bateria</p>
         </a>
      </li>
      <li>
         <a href="/list?id=flauta" class="card-category" id="flauta">
            <img src="" alt="category">
            <p>Flauta</p>
         </a>
      </li>
      <li>
         <a href="/list?id=guitarra" class="card-category" id="guitarra">
            <img src="" alt="category">
            <p>Guitarra</p>
         </a>
      </li>
      <li>
         <a href="/list?id=maracas" class="card-category" id="maracas">
            <img src="" alt="category">
            <p>Maracas</p>
         </a>
      </li>
      <li>
         <a href="/list?id=piano" class="card-category" id="piano">
            <img src="" alt="category">
            <p>Piano</p>
         </a>
      </li>
      <li>
         <a href="/list?id=saxofon" class="card-category" id="saxofon">
            <img src="" alt="category">
            <p>Saxofón</p>
         </a>
      </li>
      <li>
         <a href="/list?id=trompeta" class="card-category" id="trompeta">
            <img src="" alt="category">
            <p>Trompeta</p>
         </a>
      </li>
      <li>
         <a href="/list?id=violin" class="card-category" id="violin">
            <img src="" alt="category">
            <p>Violín</p>
         </a>
      </li>
      <li>
         <a href="" class="card-category" id="">
            <img src="" alt="category">
            <p>Triangulo</p>
         </a>
      </li>
   </ul>
</section>




<a href="/profile/edit">Vamos al edit</a>


