<section class="category-selection">
   <ul>
      <li>
         <a href="/list?id=acordeon" class="card-category" id="acordeon">
            <img src="/images/accordion.svg" alt="category">
            <p>Acordeón</p>
         </a>
      </li>
      <li>
         <a href="/list?id=armonica" id="armonica">
            <img src="/images/drumsticks.svg" alt="category">
            <p>Clave</p>
         </a>
      </li>
      <li>
         <a href="/list?id=bajo" class="card-category" id="bajo">
            <img src="/images/bass.svg" alt="category">
            <p>Bajo</p>
         </a>
      </li>
      <li>
         <a href="/list?id=bateria" class="card-category" id="bateria">
            <img src="/images/drum.svg" alt="category">
            <p>Bateria</p>
         </a>
      </li>
      <li>
         <a href="/list?id=flauta" class="card-category" id="flauta">
            <img src="/images/trumpet.svg" alt="category">
            <p>Saxofón</p>
         </a>
      </li>
      <li>
         <a href="/list?id=guitarra" class="card-category" id="guitarra">
            <img src="/images/keyboard.svg" alt="category">
            <p>Teclado</p>
         </a>
      </li>
      <li>
         <a href="/list?id=maracas" class="card-category" id="maracas">
            <img src="/images/maracas.svg" alt="category">
            <p>Maracas</p>
         </a>
      </li>
      <li>
         <a href="/list?id=piano" class="card-category" id="piano">
            <img src="/images/piano.svg" alt="category">
            <p>Piano</p>
         </a>
      </li>
      <li>
         <a href="/list?id=saxofon" class="card-category" id="saxofon">
            <img src="/images/bongos.svg" alt="category">
            <p>Tambores</p>
         </a>
      </li>
      <li>
         <a href="/list?id=trompeta" class="card-category" id="trompeta">
            <img src="/images/trumpet.svg" alt="category">
            <p>Trompeta</p>
         </a>
      </li>
      <li>
         <a href="/list?id=violin" class="card-category" id="violin">
            <img src="/images/violin.svg" alt="category">
            <p>Violín</p>
         </a>
      </li>
      <li>
         <a href="" class="card-category" id="">
            <img src="/images/triangle.svg" alt="category">
            <p>Triangulo</p>
         </a>
      </li>
   </ul>
</section>

<script src=''></script>


