<h1>¿Qué instrumento vas aprender joven padawan?</h1>

<a href="/list?id=acordeon" id="acordeon">acordeon</a>
<a href="/list?id=armonica" id="armonica">armónica</a>
<a href="/list?id=bajo" id="bajo">bajo</a>
<a href="/list?id=bateria" id="bateria">bateria</a>
<a href="/list?id=flauta" id="flauta">flauta</a>
<a href="/list?id=guitarra" id="guitarra">guitarra</a>
<a href="/list?id=maracas" id="maracas">maracas</a>
<a href="/list?id=piano" id="piano">piano</a>
<a href="/list?id=saxofon" id="saxofon">saxofón</a>
<a href="/list?id=trompeta" id="trompeta">trompeta</a>
<a href="/list?id=violin" id="violin">violín</a>


<a href="/profile/edit">Vamos al edit</a>


