<section class="form-section height-100">
   <form id="profile-edit" class="user-form" action="/profile/edit" method="POST" enctype="multipart/form-data">
       <div class="inputs">
         <div class="field">
            <label for="">Name</label>
            <input type="text" name="name" value="{{profile.name}}" placeholder="Name">
         </div>
         <div class="field img">
            <label for="">Profile photo</label>
            <input type="file" name="image-perfil" value="{{profile.imageProfile}}">
         </div>

         <div class="field">
            <label for="latitude">Latitude</label>
            <input type="text" id="latitude" name="latitude"{{profile.latitude}}>
         </div>
         <div class="field">
            <label for="longitude">Longitude</label>
            <input type="text" id="longitude" name="longitude" value="{{profile.longitude}}">
         </div>
         <div class="map-edit" id="map"></div>
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
   </form>
   <form id="profile-delete" action="/profile/delete" method="POST">
      <button class="btn-delete" type="submit">Delete profile</button>
   </form>
</section>

{{!-- <script src="/javascripts/location.js"></script> --}}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src="/javascripts/map.js"></script>