<h1>Hola soy pririnolas el perfil</h1>
<form action="/profile/edit" method="POST" enctype="multipart/form-data">
   <div>
      <label for="">Name</label>
      <input type="text" name="name" value="{{name}}">
   </div>
   <div class="field img">
      <label for="">Perfil</label>
      <input type="file" name="image-perfil" value="{{imageProfile}}">
   </div>

   <div>
      <label for="latitude">Latitude</label>
      <input type="text" id="latitude" name="latitude"{{latitude}}>
   </div>

   <div>
      <label for="longitude">Longitude</label>
      <input type="text" id="longitude" name="longitude" value="{{longitude}}">
   </div>
   <div class="map-edit" id="map"></div>

   <button type="submit">Guardar</button>

   <div>
      <button class="btnlocation" type="submit">Ponga su localización</button>
   </div>
   <script src="/javascripts/location.js"></script>
</form>

<form action="/profile/delete" method="POST">
   <button type="submit">Borrar</button>
</form>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src="/javascripts/map.js"></script> 