<section class="form-section height-100">
   <form class="user-form" action="/profile/edit/lesson" method="POST" enctype="multipart/form-data">
      <div class="inputs">
         <div class="field">
            <label for="">Title</label>
            <input type="text" name="header" value="{{header}}">
         </div>
         <div class="field">
            <label for="">Description</label>
            <input type="text" name="description" value="{{description}}">
         </div>
         <div class="field">
            <label for="">Your instrument</label>
            <select name="category" id="categories-list">
               <option value="acordeon">Acordeon</option>
               <option value="armonica">Armónica</option>
               <option value="bajo">Bajo</option>
               <option value="bateria">Batería</option>
               <option value="castanuelas">Castañuelas</option>
               <option value="clarinete">Clarinete</option>
               <option value="flauta">Flauta</option>
               <option value="guitarra">Guitarra</option>
               <option value="maracas">Maracas</option>
               <option value="piano">Piano</option>
               <option value="saxofon">Saxofón</option>
               <option value="trompeta">Trompeta</option>
               <option value="violin">Violín</option>
            </select>
         </div>
         <div class="field img last">
            <label for="">Portada</label>
            <input type="file" name="image-back">
         </div>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
   </form> 

   <form action="/profile/delete" method="POST">
      <button class="btn-delete" type="submit">Delete lesson</button>
   </form>
</section>